.replay_cache
mods/carpentersblocks/CarpentersBlocksCachedResources.zip
*.dll
*.dat
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/recipes/items.csv
updates.html
minetweaker.log
optionsnf.txt
serverutilities
logs
fonts
*.cache
config/UniqueNames.txt
crash-reports
coretweaks
bettercrashes-stackdeobfuscator-methods.csv
saves
XaeroWaypoints
XaeroWorldMap
config/JustEnoughCalculation/record.json
usernamecache.json
options.txt
